<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="harvest-studio">
  <link
    name="stand_base">
    <inertial>
      <origin
        xyz="0.000547939099085761 0.951568142680923 -0.465000341423841"
        rpy="0 0 0" />
      <mass
        value="0.109449715271813" />
      <inertia
        ixx="0.000113302435839247"
        ixy="1.09640050259602E-07"
        ixz="-1.10550562224374E-09"
        iyy="0.000117793394152384"
        iyz="1.56037099730454E-10"
        izz="2.19068000131868E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://harvest-studio/meshes/stand_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://harvest-studio/meshes/stand_base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-2.65395705622228E-06 0.00348131731693191 0.0446566695341748"
        rpy="0 0 0" />
      <mass
        value="2.78889236681529" />
      <inertia
        ixx="0.00412183232658975"
        ixy="4.09236432592131E-07"
        ixz="-3.17078315949037E-08"
        iyy="0.00242404662476709"
        iyz="0.000234310769319973"
        izz="0.0060958781082902" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://harvest-studio/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://harvest-studio/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="revolute">
    <origin
      xyz="0.00085 0.465 0.98"
      rpy="0 0 -3.1416" />
    <parent
      link="stand_base" />
    <child
      link="camera_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>